    {% extends 'main.twig' %}

    {% block content %}
      <strong>Life and Education</strong>
        <h2>Early life, family, and education</h2>

      <p>  Emerson was born in Boston, Massachusetts, on <em>(May 25, 1803,[6])</em> son of Ruth Haskins and the Rev. William Emerson, a Unitarian minister. He was named after his mother's brother Ralph and the father's great-grandmother Rebecca Waldo.[7] Ralph Waldo was the second of five sons who survived into adulthood; the others were William, Edward, Robert Bulkeley, and Charles.[8] Three other children—Phebe, John Clarke, and Mary Caroline–died in childhood.[8] Ralph Waldo Emerson was of entirely English ancestry all of which had been in New England since the early colonial period.</p>

      <p>The young Ralph Waldo Emerson's father died from stomach cancer on <em>(May 12, 1811)</em>, less than two weeks before Emerson's eighth birthday.[10] Emerson was raised by his mother, with the help of the other women in the family; his aunt Mary Moody Emerson in particular had a profound effect on Emerson.[11] She lived with the family off and on, and maintained a constant correspondence with Emerson until her death in 1863.</p>

      <p>Emerson's formal schooling began at the Boston Latin School in 1812 when he was nine.[13] In <em>(October 1817)</em>, at 14, Emerson went to Harvard College and was appointed freshman messenger for the president, requiring Emerson to fetch delinquent students and send messages to faculty.[14] Midway through his junior year, Emerson began keeping a list of books he had read and started a journal in a series of notebooks that would be called "Wide World".[15] He took outside jobs to cover his school expenses, including as a waiter for the Junior Commons and as an occasional teacher working with his uncle Samuel in Waltham, Massachusetts.[16] By his senior year, Emerson decided to go by his middle name, Waldo.[17] Emerson served as Class Poet; as was custom, he presented an original poem on Harvard's Class Day, a month before his official graduation on <em>(August 29, 1821)</em>, when he was 18.[18] He did not stand out as a student and graduated in the exact middle of his class of 59 people.</p>

      <p>In 1826, faced with poor health, Emerson went to seek out warmer climates. He first went to Charleston, South Carolina, but found the weather was still too cold.[20] He then went further south, to St. Augustine, Florida, where he took long walks on the beach, and began writing poetry. While in St. Augustine, he made the acquaintance of Prince Achille Murat. Murat, the nephew of Napoleon Bonaparte, was only two years his senior; they became extremely good friends and enjoyed one another's company. The two engaged in enlightening discussions on religion, society, philosophy, and government, and Emerson considered Murat an important figure in his intellectual education.</p>

      <p>While in St. Augustine, Emerson had his first experience of slavery. At one point, he attended a meeting of the Bible Society while there was a slave auction taking place in the yard outside. He wrote, "One ear therefore heard the glad tidings of great joy, whilst the other was regaled with 'Going, gentlemen, going'!"</p>

      {% endblock content %}
